@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center font-weight-bolder shadow">
    <h1 class="display-4">Welcome</h1>
    <p class="alert alert-info">Welcome to my Ecommerce site webpage :).</p>
</div>
